@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

:root {
	--light: #fff;
	--dark: rgb(33, 29, 29);
}

* {
	margin: 0px 0px;
}

body {
	overflow-y: auto;
	font-family: 'Montserrat', sans-serif;
}

.removedScroll {
	overflow: hidden;
}

button {
	cursor: pointer;
	border: none;
	font-family: 'Montserrat', sans-serif;
}

.light {
	background: var(--light);
	color: var(--dark);
}
.dark {
	background: var(--dark);
	color: var(--light);
}

.light a{
	color: var(--dark);
}
.dark a{
	color: var(--light);
}

.light .cart {
	background: var(--light);
	color: var(--dark);
}
.dark .cart {
	background: var(--dark);
	color: var(--light);
}